* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Setting the paramaters for the outcomes template and the 
size for different devices aswell as a background image*/
.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.25)50%,rgba(0, 0, 0, 0.25)50%), 
    url(fern2.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

/*Setting the dimensions for the navbar at the top of the page*/
.navbar {
    width: 100%;
    height: 105px;
    margin: auto;
    background-color: #0f2c00;
        
}

/*width and height for the logo class*/
.icon {
    width: 200px;
    float: left;
    height: 70px;
}


/*Settign the border anx the text colour for the logo image of the navbar*/
.logo {
    color: #fff;   
    font-size: 35px;
    font-family: Arial;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    margin-top: 17px;
    padding: 10px 15px;
    border:  2px solid rgba(255, 255, 255, .4) ;
    border-radius: 30px; 
    background-color: #009437;
    display: flex;
}

/*Setting the exct sizing for the image in the logo button*/
.logo img{
    width: 35px;
    height: 35px;
    margin-right: 5px;
    justify-content: left;
    display: flex;
}

/*Hyperling the logo makes the text with a link colour this sets it back to normal*/
.logo a{
    justify-content: left;
    display: flex;
    text-decoration: none;
    color: #fff;
}

/*settin the dimensions of the links for the different pages*/
.menu {
    width: 400px;
    float: left;
    height: 70px;
}

/*setting where the list for the navbar will go*/
ul {
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 720px;
}

/*setting the margins between each list item*/
ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}


/*setting the transitions for the button aswell as how big they are*/
ul button {
    width: 100%;
    height: 45px;
    background: #009437;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

/*When hovering on the button change the button and the text colour*/
ul button:hover {
    background-color: #FFF000;
    color: #009437;
}


/*Colour and alignment of the searchbar*/
.searchbar {
    width: 330px;
    float: right;
    color: #fff;
    justify-content: right;
    align-items: right;
}


/*type to search colour*/
.srch::placeholder {
    color: #fff;
}

/*Setting borders font and tranparenting the background*/
.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #009437;
    margin-top: 27px;
    color: #ffffff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    margin-left: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*The searchbutton size colour and border*/
.btn {
    align-items: right;
    width: 100px;
    height: 40px;
    background: #009437;
    border: 2px solid #009437;
    margin-top: 27px;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/*when selected no outline*/
.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
    
}

/*overall content parameters*/
.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

/*area for the imput content*/
.contact-left{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-bottom: -30px;
}

/*colouting of the h2 title*/
.contact-left-title h2{
    font-weight: 600;
    color: #009437;
    font-size: 40px;
    margin-bottom: 5px;
}


/*styling the title*/
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #009437;
    border-radius: 10px;
    margin-bottom: 20px;
}


/*size of the input boxes aswell as the padding*/
.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

/*size of the ara for the text in the input box*/
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}


/*When selected make the outline of the contact box yellow*/
.contact-inputs:focus{
    border: 2px solid #FFF000;
}

/*placeholder text colour*/
.contact-inputs::placeholder{
    color: #a9a9a9;

}

/*size of the submit button*/
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #fff000, #fa6d86);
    cursor: pointer;
}

/*Arrow on the submit button*/
.contact-left button img {
    height: 45px;
}   


/*size and margins of the image*/
.contact-right img{
    margin-top: -20px;
    margin-bottom: -30px;
    width: 500px;
}


/*When the screen is too small dont show the logo image*/
@media (max-width: 800px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }
}