


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.25)50%,rgba(0, 0, 0, 0.25)50%), 
    url(fern2.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #FFF000;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 27px; 
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}


ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #009437;
}
ul button {
    width: 100%;
    height: 45px;
    background: #009437;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: .4s ease-in-out;
}
ul button:hover {
    background-color: #FFF000;
}

.searchbar {
    width: 330px;
    float: left;
    margin-left: 270px;
    color: #fff;
}

.srch::placeholder {
    color: #fff;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #009437;
    margin-top: 27px;
    color: #ffffff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn {
    width: 100px;
    height: 40px;
    background: #009437;
    border: 2px solid #009437;
    margin-top: 27px;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
    
}

.btnn {
    width: 100px;
    height: 40px;
    background: #009437;
    border: none;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}

.btnn a {
    text-decoration: none;
    color: #000;
}

.btnn:hover {
    background-color: #fff;
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    color: #009437;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #009437;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #FFF000;
}

.contact-inputs::placeholder{
    color: #a9a9a9;

}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #fff000, #fa6d86);
    cursor: pointer;
}

.contact-left button img {
    height: 45px;
}   

.contact-right img{
    width: 500px;
}

@media (max-width: 800px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }
}