*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Setting the paramaters for the outcomes template and the 
size for different devices aswell as a background image*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('fern2.png') no-repeat;
    background-size: cover;
    background-position: center;

}

/*Settign the border anx the text colour for the logo image of the navbar*/
.logo {
    color: #fff;   
    font-size: 70px;
    font-family: Arial;
    margin-left: 10px;
    margin-right: 50px;
    float: left;
    margin-top: 17px;
    padding: 10px 15px;
    border:  2px solid rgba(255, 255, 255, .4) ;
    border-radius: 30px; 
    background-color: #009437;
    display: flex;
}
/*Setting the exct sizing for the image in the logo button*/
.logo img{
    width: 70px;
    height: 70px;
    margin-right: 5px;
    justify-content: top    ;
    display: flex;
}

/*Hyperling the logo makes the text with a link colour this sets it back to normal*/
.logo a{
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #fff;
}

/*This is the over class for all the inpust and sets the size of the page that the sign in will take*/
.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #fff;
    padding: 30px 40px;
}

/*The text for the sign in*/
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

/*The first inputbox for the log in process and setting the width height and margin*/
.wrapper .inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

/*The actual input class of the input box setting the border and making the background
transparent*/
.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}


/*Text for the placeholder before the input*/
.inputbox input ::placeholder {
    color: #fff;
}

/**/
.inputbox i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/*When the inutbox is selected the border will turn yellow*/
.inputbox input:focus{
    border: 2px solid #FFF000;
}


/*Putting the checkbox in the correct place*/
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}


/**/
.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

/*making the link have no decoration*/
.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

/*Underline when the link is hovered*/
.remember-forgot a:hover {
    text-decoration: underline;
}


/**/
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #009437;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: .4s ease-in-out;
}

/*When hovering on teh button change the text and button colour*/
.btn:hover {
    background-color: #fff000;
    color: #009437;
}

/*aligning the register link and setting the margins*/
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

/*colouration fo the register link*/
.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}


/*when hover underline the text*/
.register-link p a:hover {
    text-decoration: underline;
}
